h1 {
    font-size: 2.6rem;
    line-height: 2.6rem;
}

.blog-page {
    padding: 10%;
}

.blog-page:hover {

    transition: 0.4s ease-out;
    transform: scale(1.02, 1.02);
}

.Text-Content {
    /* color: #6c757d; */
    color: white;
}

@media (max-width: 667px) {
    h1 {
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: left;
    }
}